body{
    margin: 0%;
    padding: 0%;
}
h1{
    text-align: center;
    color: brown;

}
#container{
    display: flex;
    flex-direction: row;
    width: 100%;
    border:2px solid black;
    height: 300px;
    display: flex;
    justify-content: space-around;
    background-color:dimgrey;
    align-items: center;

}
